In [2]:
import json
import module

In [3]:
f = open('data.json')
data = json.load(f)
for i in range(0, len(data["data"])):
    data['data'][i]["Age"] = module.find_age(data['data'][i]["DOB"])

In [4]:
d = [data["data"][i:i+5] for i in range(0, len(data["data"]), 5)]

In [5]:
count = 0

string = "P , " + " , ".join([str(i+1) for i in range(len(d))]) + " , N"

In [6]:
c = 0

In [7]:
def pageing(c):
    # c = 0
    #     c +=5
    for i in data["data"][c:c+5]:
        for k, v in i.items():
            if k:
                if k == "DOB":
                    print(k, " : ", module.date_format(v))
                else:
                    print(k, " : ", v)

        print()
    return

In [8]:
for i in data["data"][:5]:
    for k, v in i.items():
        if k:
            if k == "DOB":
                print(k, " : ", module.date_format(v))
            else:
                print(k, " : ", v)
    print()

id  :  1
Name  :  Ines
Age  :  31
DOB  :  22nd Dec 1990

id  :  2
Name  :  Latrena
Age  :  31
DOB  :  16th Feb 1991

id  :  3
Name  :  Thelma
Age  :  30
DOB  :  17th May 1992

id  :  4
Name  :  Rianon
Age  :  29
DOB  :  05th Aug 1992

id  :  5
Name  :  Rafa
Age  :  29
DOB  :  13th Sep 1992

In [9]:
while True:

    inp = input(string)
    print()
    if inp == "n" or inp == "N":
        c += 5
        pageing(c)
        if c == 25:
            print("End of the Page")

    elif inp == "p" or inp == "P":
        c -= 5
        pageing(c)
        if c < 0:
            print("No Page Left")

    elif inp == "1":
        for i in data["data"][:5]:
            for k, v in i.items():
                if k:
                    if k == "DOB":
                        print(k, " : ", module.date_format(v))
                    else:
                        print(k, " : ", v)
            print()
        # c = c + 5

    elif inp == "2":
        for i in data["data"][5:10]:
            for k, v in i.items():
                if k:
                    if k == "DOB":
                        print(k, " : ", module.date_format(v))
                    else:
                        print(k, " : ", v)
            print()
        c = c + 5

    elif inp == "3":
        for i in data["data"][10:15]:
            for k, v in i.items():
                if k:
                    if k == "DOB":
                        print(k, " : ", module.date_format(v))
                    else:
                        print(k, " : ", v)
            print()
        c = c + 5

    elif inp == "4":
        for i in data["data"][15:20]:
            for k, v in i.items():
                if k:
                    if k == "DOB":
                        print(k, " : ", module.date_format(v))
                    else:
                        print(k, " : ", v)
            print()
        # c = 20
        c = c + 5

    elif inp == "5":
        for i in data["data"][20:25]:
            for k, v in i.items():
                if k:
                    if k == "DOB":
                        print(k, " : ", module.date_format(v))
                    else:
                        print(k, " : ", v)
            print()
        c = c + 5

    else:
        print("Invalid Input")

P , 1 , 2 , 3 , 4 , 5 , N1

id  :  1
Name  :  Ines
Age  :  31
DOB  :  22nd Dec 1990

id  :  2
Name  :  Latrena
Age  :  31
DOB  :  16th Feb 1991

id  :  3
Name  :  Thelma
Age  :  30
DOB  :  17th May 1992

id  :  4
Name  :  Rianon
Age  :  29
DOB  :  05th Aug 1992

id  :  5
Name  :  Rafa
Age  :  29
DOB  :  13th Sep 1992

P , 1 , 2 , 3 , 4 , 5 , N2

id  :  6
Name  :  Arabela
Age  :  28
DOB  :  24th Oct 1993

id  :  7
Name  :  Dione
Age  :  25
DOB  :  03rd May 1997

id  :  8
Name  :  Aline
Age  :  23
DOB  :  02nd Mar 1999

id  :  9
Name  :  Teddi
Age  :  20
DOB  :  04th Aug 2001

id  :  10
Name  :  Ellary
Age  :  18
DOB  :  24th May 2004

P , 1 , 2 , 3 , 4 , 5 , N3

id  :  11
Name  :  Rory
Age  :  16
DOB  :  05th Mar 2006

id  :  12
Name  :  Mallissa
Age  :  15
DOB  :  08th Jan 2007

id  :  13
Name  :  Jessey
Age  :  14
DOB  :  19th Jul 2007

id  :  14
Name  :  Georgina
Age  :  14
DOB  :  16th Mar 2008

id  :  15
Name  :  Butch
Age  :  13
DOB  :  03rd Dec 2008

P , 1 , 2 , 3 , 4 , 5 , N4

id  :  16
Name  :  Edmund
Age  :  13
DOB  :  23st Mar 2009

id  :  17
Name  :  Elisabetta
Age  :  10
DOB  :  06th Jun 2012

id  :  18
Name  :  Jasmine
Age  :  10
DOB  :  06th Jul 2012

id  :  19
Name  :  Binni
Age  :  9
DOB  :  10th Mar 2013

id  :  20
Name  :  Kendra
Age  :  7
DOB  :  18th Oct 2014

P , 1 , 2 , 3 , 4 , 5 , N5

id  :  21
Name  :  Henrietta
Age  :  7
DOB  :  20th Jun 2015

id  :  22
Name  :  Conney
Age  :  5
DOB  :  22nd Jul 2016

id  :  23
Name  :  Lucy
Age  :  5
DOB  :  08th Sep 2016

id  :  24
Name  :  Larissa
Age  :  4
DOB  :  12th Jul 2017

id  :  25
Name  :  Leonhard
Age  :  3
DOB  :  22nd Jun 2019

P , 1 , 2 , 3 , 4 , 5 , N6

Invalid Input
P , 1 , 2 , 3 , 4 , 5 , Np

id  :  16
Name  :  Edmund
Age  :  13
DOB  :  23st Mar 2009

id  :  17
Name  :  Elisabetta
Age  :  10
DOB  :  06th Jun 2012

id  :  18
Name  :  Jasmine
Age  :  10
DOB  :  06th Jul 2012

id  :  19
Name  :  Binni
Age  :  9
DOB  :  10th Mar 2013

id  :  20
Name  :  Kendra
Age  :  7
DOB  :  18th Oct 2014

P , 1 , 2 , 3 , 4 , 5 , Np

id  :  11
Name  :  Rory
Age  :  16
DOB  :  05th Mar 2006

id  :  12
Name  :  Mallissa
Age  :  15
DOB  :  08th Jan 2007

id  :  13
Name  :  Jessey
Age  :  14
DOB  :  19th Jul 2007

id  :  14
Name  :  Georgina
Age  :  14
DOB  :  16th Mar 2008

id  :  15
Name  :  Butch
Age  :  13
DOB  :  03rd Dec 2008

P , 1 , 2 , 3 , 4 , 5 , Np

id  :  6
Name  :  Arabela
Age  :  28
DOB  :  24th Oct 1993

id  :  7
Name  :  Dione
Age  :  25
DOB  :  03rd May 1997

id  :  8
Name  :  Aline
Age  :  23
DOB  :  02nd Mar 1999

id  :  9
Name  :  Teddi
Age  :  20
DOB  :  04th Aug 2001

id  :  10
Name  :  Ellary
Age  :  18
DOB  :  24th May 2004

P , 1 , 2 , 3 , 4 , 5 , Np

id  :  1
Name  :  Ines
Age  :  31
DOB  :  22nd Dec 1990

id  :  2
Name  :  Latrena
Age  :  31
DOB  :  16th Feb 1991

id  :  3
Name  :  Thelma
Age  :  30
DOB  :  17th May 1992

id  :  4
Name  :  Rianon
Age  :  29
DOB  :  05th Aug 1992

id  :  5
Name  :  Rafa
Age  :  29
DOB  :  13th Sep 1992

KeyboardInterrupt

In [34]:
sorted_li = []

In [48]:
data["data"].sort(key = lambda x:x["Name"], reverse=True)

In [49]:
data["data"]

[{'id': 3, 'Name': 'Thelma', 'Age': 30, 'DOB': '17/5/1992'},
 {'id': 9, 'Name': 'Teddi', 'Age': 20, 'DOB': '04/8/2001'},
 {'id': 11, 'Name': 'Rory', 'Age': 16, 'DOB': '05/3/2006'},
 {'id': 4, 'Name': 'Rianon', 'Age': 29, 'DOB': '05/8/1992'},
 {'id': 5, 'Name': 'Rafa', 'Age': 29, 'DOB': '13/9/1992'},
 {'id': 12, 'Name': 'Mallissa', 'Age': 15, 'DOB': '08/1/2007'},
 {'id': 23, 'Name': 'Lucy', 'Age': 5, 'DOB': '08/9/2016'},
 {'id': 25, 'Name': 'Leonhard', 'Age': 3, 'DOB': '22/6/2019'},
 {'id': 2, 'Name': 'Latrena', 'Age': 31, 'DOB': '16/2/1991'},
 {'id': 24, 'Name': 'Larissa', 'Age': 4, 'DOB': '12/7/2017'},
 {'id': 20, 'Name': 'Kendra', 'Age': 7, 'DOB': '18/10/2014'},
 {'id': 13, 'Name': 'Jessey', 'Age': 14, 'DOB': '19/7/2007'},
 {'id': 18, 'Name': 'Jasmine', 'Age': 10, 'DOB': '06/7/2012'},
 {'id': 1, 'Name': 'Ines', 'Age': 31, 'DOB': '22/12/1990'},
 {'id': 21, 'Name': 'Henrietta', 'Age': 7, 'DOB': '20/6/2015'},
 {'id': 14, 'Name': 'Georgina', 'Age': 14, 'DOB': '16/3/2008'},
 {'id': 10, 'Name': 'Ellary', 'Age': 18, 'DOB': '24/5/2004'},
 {'id': 17, 'Name': 'Elisabetta', 'Age': 10, 'DOB': '06/6/2012'},
 {'id': 16, 'Name': 'Edmund', 'Age': 13, 'DOB': '23/3/2009'},
 {'id': 7, 'Name': 'Dione', 'Age': 25, 'DOB': '03/5/1997'},
 {'id': 22, 'Name': 'Conney', 'Age': 5, 'DOB': '22/7/2016'},
 {'id': 15, 'Name': 'Butch', 'Age': 13, 'DOB': '03/12/2008'},
 {'id': 19, 'Name': 'Binni', 'Age': 9, 'DOB': '10/3/2013'},
 {'id': 6, 'Name': 'Arabela', 'Age': 28, 'DOB': '24/10/1993'},
 {'id': 8, 'Name': 'Aline', 'Age': 23, 'DOB': '02/3/1999'}]