In [191]:
from datetime import datetime, date
import json

def date_format(date):
    datetimeobject = datetime.strptime(date,"%d/%m/%Y")
    
    new_format_1 = datetimeobject.strftime("%d %b %Y")
    formate = new_format_1.split(" ")
    if int(formate[0]) > 0 and int(formate[0]) == 1:
        formate[0] = str(formate[0])+"st"
    elif int(formate[0]) > 1 and int(formate[0]) == 2:
        formate[0] = str(formate[0])+"nd"
    elif int(formate[0]) > 2 and int(formate[0]) == 3:
        formate[0] = str(formate[0])+"rd"
    elif int(formate[0]) > 3 and int(formate[0]) < 21 or int(formate[0]) > 23:
        formate[0] = str(formate[0])+"th"
    elif int(formate[0]) > 20 and int(formate[0]) == 21:
        formate[0] = str(formate[0])+"st"
    elif int(formate[0]) > 21 and int(formate[0]) == 22:
        formate[0] = str(formate[0])+"nd"
    elif int(formate[0]) > 22 and int(formate[0]) == 23:
        formate[0] = str(formate[0])+"st"
    
    return " ".join(formate)

def find_age(born):
    born = datetime.strptime(born, "%d/%m/%Y").date()
    today = date.today()
    age = today.year - born.year - ((today.month,today.day) < (born.month,born.day))
    
    return age

In [208]:
import json
import module

f = open('data.json')
data = json.load(f)

# type(data)
for i in range(0, len(data["data"])):
    data['data'][i]["Age"] = module.find_age(data['data'][i]["DOB"])

for i in data["data"]:
    print(i)

# for i in range(0, len(data["data"])):
#     for k, v in data["data"][i].items():
#         print(k, " : ", v)
#     print()

{'id': 1, 'Name': 'Ines', 'Age': 31, 'DOB': '22/12/1990'}
{'id': 2, 'Name': 'Latrena', 'Age': 31, 'DOB': '16/2/1991'}
{'id': 3, 'Name': 'Thelma', 'Age': 30, 'DOB': '17/5/1992'}
{'id': 4, 'Name': 'Rianon', 'Age': 29, 'DOB': '05/8/1992'}
{'id': 5, 'Name': 'Rafa', 'Age': 29, 'DOB': '13/9/1992'}
{'id': 6, 'Name': 'Arabela', 'Age': 28, 'DOB': '24/10/1993'}
{'id': 7, 'Name': 'Dione', 'Age': 25, 'DOB': '03/5/1997'}
{'id': 8, 'Name': 'Aline', 'Age': 23, 'DOB': '02/3/1999'}
{'id': 9, 'Name': 'Teddi', 'Age': 20, 'DOB': '04/8/2001'}
{'id': 10, 'Name': 'Ellary', 'Age': 18, 'DOB': '24/5/2004'}
{'id': 11, 'Name': 'Rory', 'Age': 16, 'DOB': '05/3/2006'}
{'id': 12, 'Name': 'Mallissa', 'Age': 15, 'DOB': '08/1/2007'}
{'id': 13, 'Name': 'Jessey', 'Age': 14, 'DOB': '19/7/2007'}
{'id': 14, 'Name': 'Georgina', 'Age': 14, 'DOB': '16/3/2008'}
{'id': 15, 'Name': 'Butch', 'Age': 13, 'DOB': '03/12/2008'}
{'id': 16, 'Name': 'Edmund', 'Age': 13, 'DOB': '23/3/2009'}
{'id': 17, 'Name': 'Elisabetta', 'Age': 10, 'DOB': '06/6/2012'}
{'id': 18, 'Name': 'Jasmine', 'Age': 9, 'DOB': '06/7/2012'}
{'id': 19, 'Name': 'Binni', 'Age': 9, 'DOB': '10/3/2013'}
{'id': 20, 'Name': 'Kendra', 'Age': 7, 'DOB': '18/10/2014'}
{'id': 21, 'Name': 'Henrietta', 'Age': 7, 'DOB': '20/6/2015'}
{'id': 22, 'Name': 'Conney', 'Age': 5, 'DOB': '22/7/2016'}
{'id': 23, 'Name': 'Lucy', 'Age': 5, 'DOB': '08/9/2016'}
{'id': 24, 'Name': 'Larissa', 'Age': 4, 'DOB': '12/7/2017'}
{'id': 25, 'Name': 'Leonhard', 'Age': 3, 'DOB': '22/6/2019'}

In [219]:
d = [data["data"][i:i+5] for i in range(0, len(data["data"]), 5)]

In [229]:
d[0]

[{'id': 1, 'Name': 'Ines', 'Age': 31, 'DOB': '22/12/1990'},
 {'id': 2, 'Name': 'Latrena', 'Age': 31, 'DOB': '16/2/1991'},
 {'id': 3, 'Name': 'Thelma', 'Age': 30, 'DOB': '17/5/1992'},
 {'id': 4, 'Name': 'Rianon', 'Age': 29, 'DOB': '05/8/1992'},
 {'id': 5, 'Name': 'Rafa', 'Age': 29, 'DOB': '13/9/1992'}]

In [232]:
d

[[{'id': 1, 'Name': 'Ines', 'Age': 31, 'DOB': '22/12/1990'},
  {'id': 2, 'Name': 'Latrena', 'Age': 31, 'DOB': '16/2/1991'},
  {'id': 3, 'Name': 'Thelma', 'Age': 30, 'DOB': '17/5/1992'},
  {'id': 4, 'Name': 'Rianon', 'Age': 29, 'DOB': '05/8/1992'},
  {'id': 5, 'Name': 'Rafa', 'Age': 29, 'DOB': '13/9/1992'}],
 [{'id': 6, 'Name': 'Arabela', 'Age': 28, 'DOB': '24/10/1993'},
  {'id': 7, 'Name': 'Dione', 'Age': 25, 'DOB': '03/5/1997'},
  {'id': 8, 'Name': 'Aline', 'Age': 23, 'DOB': '02/3/1999'},
  {'id': 9, 'Name': 'Teddi', 'Age': 20, 'DOB': '04/8/2001'},
  {'id': 10, 'Name': 'Ellary', 'Age': 18, 'DOB': '24/5/2004'}],
 [{'id': 11, 'Name': 'Rory', 'Age': 16, 'DOB': '05/3/2006'},
  {'id': 12, 'Name': 'Mallissa', 'Age': 15, 'DOB': '08/1/2007'},
  {'id': 13, 'Name': 'Jessey', 'Age': 14, 'DOB': '19/7/2007'},
  {'id': 14, 'Name': 'Georgina', 'Age': 14, 'DOB': '16/3/2008'},
  {'id': 15, 'Name': 'Butch', 'Age': 13, 'DOB': '03/12/2008'}],
 [{'id': 16, 'Name': 'Edmund', 'Age': 13, 'DOB': '23/3/2009'},
  {'id': 17, 'Name': 'Elisabetta', 'Age': 10, 'DOB': '06/6/2012'},
  {'id': 18, 'Name': 'Jasmine', 'Age': 9, 'DOB': '06/7/2012'},
  {'id': 19, 'Name': 'Binni', 'Age': 9, 'DOB': '10/3/2013'},
  {'id': 20, 'Name': 'Kendra', 'Age': 7, 'DOB': '18/10/2014'}],
 [{'id': 21, 'Name': 'Henrietta', 'Age': 7, 'DOB': '20/6/2015'},
  {'id': 22, 'Name': 'Conney', 'Age': 5, 'DOB': '22/7/2016'},
  {'id': 23, 'Name': 'Lucy', 'Age': 5, 'DOB': '08/9/2016'},
  {'id': 24, 'Name': 'Larissa', 'Age': 4, 'DOB': '12/7/2017'},
  {'id': 25, 'Name': 'Leonhard', 'Age': 3, 'DOB': '22/6/2019'}]]

In [235]:
for i in d:
    for j in range(0, len(d)):
        print(i[j])
    print()

{'id': 1, 'Name': 'Ines', 'Age': 31, 'DOB': '22/12/1990'}
{'id': 2, 'Name': 'Latrena', 'Age': 31, 'DOB': '16/2/1991'}
{'id': 3, 'Name': 'Thelma', 'Age': 30, 'DOB': '17/5/1992'}
{'id': 4, 'Name': 'Rianon', 'Age': 29, 'DOB': '05/8/1992'}
{'id': 5, 'Name': 'Rafa', 'Age': 29, 'DOB': '13/9/1992'}

{'id': 6, 'Name': 'Arabela', 'Age': 28, 'DOB': '24/10/1993'}
{'id': 7, 'Name': 'Dione', 'Age': 25, 'DOB': '03/5/1997'}
{'id': 8, 'Name': 'Aline', 'Age': 23, 'DOB': '02/3/1999'}
{'id': 9, 'Name': 'Teddi', 'Age': 20, 'DOB': '04/8/2001'}
{'id': 10, 'Name': 'Ellary', 'Age': 18, 'DOB': '24/5/2004'}

{'id': 11, 'Name': 'Rory', 'Age': 16, 'DOB': '05/3/2006'}
{'id': 12, 'Name': 'Mallissa', 'Age': 15, 'DOB': '08/1/2007'}
{'id': 13, 'Name': 'Jessey', 'Age': 14, 'DOB': '19/7/2007'}
{'id': 14, 'Name': 'Georgina', 'Age': 14, 'DOB': '16/3/2008'}
{'id': 15, 'Name': 'Butch', 'Age': 13, 'DOB': '03/12/2008'}

{'id': 16, 'Name': 'Edmund', 'Age': 13, 'DOB': '23/3/2009'}
{'id': 17, 'Name': 'Elisabetta', 'Age': 10, 'DOB': '06/6/2012'}
{'id': 18, 'Name': 'Jasmine', 'Age': 9, 'DOB': '06/7/2012'}
{'id': 19, 'Name': 'Binni', 'Age': 9, 'DOB': '10/3/2013'}
{'id': 20, 'Name': 'Kendra', 'Age': 7, 'DOB': '18/10/2014'}

{'id': 21, 'Name': 'Henrietta', 'Age': 7, 'DOB': '20/6/2015'}
{'id': 22, 'Name': 'Conney', 'Age': 5, 'DOB': '22/7/2016'}
{'id': 23, 'Name': 'Lucy', 'Age': 5, 'DOB': '08/9/2016'}
{'id': 24, 'Name': 'Larissa', 'Age': 4, 'DOB': '12/7/2017'}
{'id': 25, 'Name': 'Leonhard', 'Age': 3, 'DOB': '22/6/2019'}

In [242]:
count = 0

In [243]:
inp = input()
if inp == "p" or inp == "P":
    if count == 0:
        print(d[count])
        count+=1

p
[{'id': 1, 'Name': 'Ines', 'Age': 31, 'DOB': '22/12/1990'}, {'id': 2, 'Name': 'Latrena', 'Age': 31, 'DOB': '16/2/1991'}, {'id': 3, 'Name': 'Thelma', 'Age': 30, 'DOB': '17/5/1992'}, {'id': 4, 'Name': 'Rianon', 'Age': 29, 'DOB': '05/8/1992'}, {'id': 5, 'Name': 'Rafa', 'Age': 29, 'DOB': '13/9/1992'}]